// app global css in SCSS form
.q-btn__content {
  font-weight: normal;
}

.q-item__section--avatar {
  min-width: 28px;
}

/** the style for ticked checkbox */
.q-checkbox__bg {
  border-width: 1px !important;
  border-color: $grey-7;
}

.q-checkbox__inner--truthy .q-checkbox__bg {
  color: $primary;
  border-color: $primary !important;
}

.q-checkbox__inner {
  font-size: 32px;
}

/** the style for tree structure */
.q-tree__node--selected {
  background-color: $primary;

  .q-checkbox__inner--falsy .q-checkbox__bg {
    background-color: white;
    border-color: $primary !important;
  }
}

/** the style for splitter */
.splitter-drag-icon {
  height: 30px;
  display: flex;
  align-items: center;
  background-color: $info;
  border-radius: 2px;
}

.frame-table {
  .sticky-table {
    max-height: 100%;
  }
}

.hint-label {
  color: $grey-7;
  padding-left: 2px;
  padding-bottom: 8px;
}

.no-hover-btn {
  .q-focus-helper {
    display: none;
  }
}

.error-hint {
  font-size: 11px;
  padding: 8px 0 0 12px;
}

// Light Mode
.primary-btn {
  background-color: $primary;
  .q-btn__content {
    color: $grey-1;
  }
}

.accent-btn {
  background-color: $accent;
  .q-btn__content {
    color: $grey-1;
  }
}

.secondary-btn {
  background-color: $secondary;
  .q-btn__content {
    color: $grey-10;
  }
}

.text-black-white {
  color: $grey-10;
}

.field-placeholder {
  color: $grey-8;
}

.main-header {
  background: white;
}

.q-layout__shadow:after {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2), 0 0px 5px rgba(0, 0, 0, 0.24) !important;
}

.q-chip--clickable:focus {
  box-shadow: none !important;
}

// Dark Mode
.body--dark {
  --q-primary: #3c6fef;
  --q-secondary: rgba(255, 255, 255, 0.07);
  --q-positive: #4ea161;
  --q-negative: #c95b5b;
  --q-info: #474a53;

  .secondary-btn {
    background-color: rgba(255, 255, 255, 0.07);
    .q-btn__content {
      color: $grey-1;
    }
  }

  .accent-btn {
    background-color: $accent;
    .q-btn__content {
      color: $grey-10;
    }
  }

  .text-black-white {
    color: $grey-1;
  }

  .field-placeholder {
    color: $grey-5;
  }

  .main-header {
    background: $dark;
  }

  .q-layout__shadow:after {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2),
      0 0px 5px rgba(255, 255, 255, 0.24) !important;
  }
}
